.jumbotron {
  color: rgb(206, 206, 206);
  background-color: rgb(104, 104, 104);
  padding-top: 20pt;
  padding-bottom: 20pt;
}
.contact_info {
  float: right;
}
.profile_pic {
  margin-top: 40pt;
  width: 30%;
  float: left;
}
.col-6 {
  padding-right: 0pt;
}